$lev-spacing-xxl: 64px;
$lev-spacing-xl: 48px;
$lev-spacing-l: 40px;
$lev-spacing-m: 32px;
$lev-spacing-s: 24px;
$lev-spacing-xs: 16px;
$lev-spacing-xxs: 12px;
$lev-spacing-xxxs: 8px;

$lev-resized-buttons-2: calc(min(70vh, 90vw) / 2 - 10px);
