$bg-button-primary: #275BDD;
$bg-button-primary-hover: #2051CB;
$bg-button-primary-clicked: #1D4AB9;
$bg-accent_secondary: #0F3CAC;
$bg-button-secondary: #D4DEF8;
$bg-button-shadow: #E7ECF7;
$bg-green_dark: #5BA300;
$bg-green_base: #89CE00;
$bg-green-base-hover: #7AB800;
$bg-green-base-clicked: #70A800;
$bg-green-gradient: #CFEBB6;
$bg-black_base: #010D18;
$btn-disabled-bg: #C0C0C0;
$btn-disabled-inset: #979797;
$bg-grey-light: #EDEDED;
$bg-bubble-base: #FFFFFF;
$bg-white-30: #FFFFFF4d;
$bg-white-40: #FFFFFF66;
$bg-white-70: #FFFFFFb3;
$bg-white-80: #FFFFFFcc;
$bg-orange_base: #FFA063;
$bg-yellow_base: #FFE8AC;
$bg-red_base: #FF5757;
$bg-purple_base: #B285C5;
$bg-workspace-base: #D7E3FD;

$txt-primary: #275BDD;
$txt-secondary: #0F3CAC;
$txt-white: #FBFBFD;

$border-grey: #BDBDBD;
$border-button-accent: #0F3CAC;
$border-button-primary-hover: #0D3496;
$border-button-primary-clicked: #0B2E83;
$border-button-green-hover: #4D8A00;
$border-button-green-clicked: #539400;
$border-button-secondary: #A0BBFF;
$border-green_dark: #5BA300;
$border-accent: #275BDD;
$border-purple_dark: #813A9F;
$border-orange_dark: #E3630A;
$border-yellow_dark: #FFC839;
$border-red_dark: #930B0B;
